@media (min-width: 768px) {
  .hh-navbar-logo {
    background-color: #d98218;
    text-align: center;
  }
  .hh-navbar-logo .navbar-brand {
    color: #ffffff;
    float: none;
  }
  .hh-navbar-logo a {
    padding: 25px 0px;
    display: block;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
  }
  .hh-navbar-fixed-left {
    height: 100%;
    width: 100px;
    position: fixed;
    border-right: 1px solid transparent;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-collapse {
    padding: 0px;
  }
  .navbar {
    border: 0px;
  }
}
